//Font Size
$font-h1: 50px;
$font-h2: 40px;
$font-h3: 30px;
$font-h4: 26px;
$font-h5: 22px;
$font-h6: 18px;

$font-size-base: 14px;
$font-size-large: $font-size-base + 2px;
$font-size-small: $font-size-base - 2px;